<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549921554009-ugd5rfsaj9jj1c6897r141qk9adsui1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549921554009-ugd5rfsaj9jj1c6897r141qk9adsui1v</string>
	<key>API_KEY</key>
	<string>AIzaSyARvnTt6Ke7jck3qp6DJE2M6jXMCGKZJK8</string>
	<key>GCM_SENDER_ID</key>
	<string>549921554009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seydouxxx.TwitterMock</string>
	<key>PROJECT_ID</key>
	<string>twittermock-66483</string>
	<key>STORAGE_BUCKET</key>
	<string>twittermock-66483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549921554009:ios:1b17796a95af0f4bc63b48</string>
</dict>
</plist>